<!-- #region Clients-->
<section class="clients">
  <div class="container-clients"></div>
  <h2>What Clients Say</h2>
  <p>
    Problems trying to resolve the conflict between the two major realms of
    Classical physics: Newtonian mechanics
  </p>
  <ul>
    <li>
      <img src="./images/overview/1.png" alt="1" />
      <p>
        Product helps you see how many more days you need to work to reach your
        financial goal.
      </p>
      <img src="./images/overview/ph1.png" alt="ph1" />
      <h3>Wahid Ari</h3>
      <p>Designer</p>
    </li>
    <li>
      <img src="./images/overview/1.png" alt="1" />
      <p>
        Product helps you see how many more days you need to work to reach your
        financial goal.
      </p>
      <img src="./images/overview/ph2.png" alt="ph2" />
      <h3>Wahid Ari</h3>
      <p>Designer</p>
    </li>
    <li>
      <img src="./images/overview/1.png" alt="1" />
      <p>
        Product helps you see how many more days you need to work to reach your
        financial goal.
      </p>
      <img src="./images/overview/ph3.png" alt="ph3" />
      <h3>Wahid Ari</h3>
      <p>Designer</p>
    </li>
  </ul>
</section>
<!-- #endregion Clients-->
